@media (min-width: 1024px){

    .teste{
        display: flex;
        padding: 10px 2px 10px 2px;
        background-color: #7b1fa2;
        width: 100px;
        border-radius: 4px;
        box-shadow:1px 1px 2px 2px #1b1b1b;
        text-decoration: none;
        justify-content: center;
        font-weight: bold;
    }

    .card{
        display: grid;
        grid-template-columns: 1fr 1fr;
        list-style: none;
        margin: 0 0 80px 0;
        font-size: small;
    }
    
    .lista{
        margin: 20px 50px 20px 50px;
    }

    .titulo,.subtitulo
    {
       font-size: medium; 
    }

    .titulo{
        display: flex;
        justify-content: start;
        align-items: baseline;
    }

    .subtitulo{
        display: flex;
        justify-content: start;
        align-items: baseline;
        margin: 0 0 20px 0;
        color: white;
    }

    .actions{
        display: flex;
        justify-content: space-around;
    }
    
    .actions a{
        width: 100px;
    }

    .git-create{
        display: flex;
        align-items: baseline;
        margin: 10px 0 0 20px;
    }
    
    .git-upd{
        display: flex;
        align-items: baseline;
        margin: 10px 0 0 20px;
    }
}

@media (max-width: 1024px){
    .teste{
        display: flex;
        padding: 10px 2px 10px 2px;
        background-color: #7b1fa2;
        width: 100px;
        border-radius: 4px;
        box-shadow:1px 1px 2px 2px #1b1b1b;
        text-decoration: none;
        justify-content: center;
        font-weight: bold;
    }

    .git-create{
        display: flex;
        align-items: baseline;
        margin: 10px 0 0 20px;
    }
    
    .git-upd{
        display: flex;
        align-items: baseline;
        margin: 10px 0 0 20px;
    }

    .actions{
        display: flex;
        justify-content: space-around;
    }
    
    .actions a{
        width: 100px;
    }

    .card{
        display: grid;
        grid-template-columns: 1fr 1fr;
        list-style: none;
        margin: 0 0 80px 0;
    }
    
    .lista{
        margin: 20px 50px 20px 50px;
    }

    .titulo{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .subtitulo{
        display: flex;
        justify-content: start;
        align-items: baseline;
        margin: 0 0 20px 0;
        color: white;
    }
}

@media (max-width: 768px){
    mat-card-header h2{
        display: none;
        color: #7b1fa2;
    }

    .card{
        display: grid;
        grid-template-columns: 1fr;
        list-style: none;
        margin: 0 0 80px 0;
    }
    
    .lista{
        margin: 20px 50px 20px 50px;
    }
}

@media (max-width: 425px){
    .actions{
        display: flex;
        justify-content: space-around;
    }
    
    .actions a{
        width: fit-content;
    }

    .titulo,.subtitulo,.git-create,.git-upd
    {
       font-size: small; 
    }
}

@media (max-width: 320px){
    .lista{
        margin: 20px;
    }

    .git-create{
        display: flex;
        align-items: baseline;
        margin: 10px 0 0 20px;
    }
    
    .git-upd{
        display: flex;
        align-items: baseline;
        margin: 10px 0 0 20px;
        font-size: small;
    }
}


mat-card{
    background-color: #212121;
}

mat-card mat-card-header{
    display: flex;
    color: white;
    margin: 5px;
    align-items: center
}

mat-card mat-card-header a{
    color: white;
    text-decoration: none;
}

mat-card mat-card-content{
    background-color: #7b1fa2;
    box-shadow: 0px -10px 2px #7b1fa2, 0px 10px 2px #7b1fa2;
}

mat-card span{
    color: white;
}

.content{
    display: flex;
    align-items: baseline;
    flex-direction: column;
}

a{
    text-transform: uppercase;
    color: black;
}

*{
    margin: 0;
    padding: 0;
}

h2, p{
    margin: 0;
    padding: 0;
}

mat-paginator{
    margin: 0 0 30px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}